form {
	padding: 15px 310px;
	border: 2px solid black;
	margin-top: 15px;
}

.buttons {
	margin-top: 10px;
}

.buttons button {
	cursor: pointer;
}

/deep/ div.add-course-form-field {
	margin: 15px 0;
}

/deep/ .add-course-form-field input {
	height: 25px;
}

/deep/ .add-course-form-field label {
	position: absolute;
	left: -115px;
	width: 100px;
	text-align: right;
}

/deep/ .add-course-form-field {
	position: relative;
}

/deep/ input.ng-invalid.ng-dirty,
/deep/ textarea.ng-invalid.ng-dirty {
	border: 1px solid red;
}

/deep/ .error {
	margin: 0;
	color: red;
}

/deep/ .ng-invalid:not(form) .add-course-form-field .ng-dirty {
	border: 1px solid red;
}
