<form #form="ngForm" (submit)="saveChanges(form)">
	<div class="add-course-form-field">
		<label for="title">Title</label>
		<input #name="ngModel" id="title" type="text" name="title" required maxlength="50" ngModel>
		<div class="error" *ngIf="name.invalid && name.dirty">{{name?.errors | json}}</div>
	</div>
	<div class="add-course-form-field">
		<label for="description">Description</label>
		<textarea #description="ngModel" name="description" id="description" cols="30" required maxlength="500" ngModel></textarea>
		<div class="error" *ngIf="description.invalid && description.dirty">{{description?.errors | json}}</div>
	</div>
	<date-field-component
		#dateInput="ngModel"
		name="someDate"
		required
		validateDate
	  [(ngModel)]="dateModel"></date-field-component>
	  <div class="error" *ngIf="dateInput.invalid && dateInput.dirty">{{dateInput?.errors | json}}</div>
	<duration-field-component
		#durationInput="ngModel"
		name="someDuration"
		required
		validateDuration
	  [(ngModel)]="dataModel"></duration-field-component>
	<div class="error" *ngIf="durationInput.invalid && durationInput.dirty">{{durationInput?.errors | json}}</div>
	<authors-component [authors]="authors"></authors-component>
	<div class="buttons">
		<button type="submit" [disabled]="!(form.valid && form.dirty)">{{saveBtnText}}</button>
		<button type="button" (click)="onCancelButtonClick()">{{cancelBtnText}}</button>
	</div>
</form>
