.header {
	display: flex;
	justify-content: space-between;
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	margin: 0;
}

button {
	cursor: pointer;
}

.course {
	display: flex;
	align-items: center;
}

.course button {
	margin-right: 10px;
}
