<div [ngClass]="{
	'course': true,
	'top-rated': isFavourite
}" myBorder [courseData]="courseData">
	<div class="course__details">
		<div class="course__details--container">
			<div class="course__details__meta">
				<div>{{courseData.title | uppercase}}</div>
				<div>{{courseData.duration | durationTransform}}</div>
				<star-component [isShown]="courseData.topRated"></star-component>
			</div>
			<div>{{courseData.date | date}}</div>
		</div>
		<div>{{courseData.description}}</div>
	</div>
	<div class="course__actions">
		<button routerLink="/courses/{{courseData.id}}">{{editCourseText}}</button>
		<button-component [buttonClick]="deleteCourseCallback" [buttonText]="deleteCourseText" [text]="courseData.id"></button-component>
	</div>
</div>