<form class="login" #loginForm="ngForm" (submit)="login()">
	<div class="login__username">
		<label for="username">Login</label>
		<input id="username" type="text" name="username" required [(ngModel)]="username">
	</div>
	<div class="login__password">
		<label for="password">Password</label>
		<input id="password" type="password" name="password" required [(ngModel)]="password">
	</div>
	<button [disabled]="!(loginForm.valid && loginForm.dirty)" type="submit">{{enterText}}</button>
	<button routerLink="/courses">Cancel</button>
</form>
