<search-component *ngIf="!addCourseMode"
[addCourse]="handleAddCourse"
[(currentCourses)] = "courses"
[(totalNumber)] = "totalNumber"
[(searchQuery)] = "searchQuery">
</search-component>
<div *ngIf="!addCourseMode && !!courses">
	<course-component
		*ngFor="let course of courses | orderBy : 'date'"
			[courseData] = "course"
			(deleteCourse)="handleDeleteCourse($event)">
	</course-component>
</div>
<paging *ngIf="!addCourseMode"
	[(currentPage)] = "currentPage"
	[totalNumber] = "totalNumber"
	[(currentCourses)] = "courses"
	[searchQuery] = "searchQuery">
</paging>
<add-course-component *ngIf="addCourseMode" [authors]="authors" (cancelAddCourseMode)="resetAddCourseMode()"></add-course-component>
<div *ngIf="!addCourseMode">
	<empty-component [data]="courses"></empty-component>
</div>
