<search-component
[addCourse]="handleAddCourse"
[(currentCourses)] = "courses"
[(totalNumber)] = "totalNumber"
[(searchQuery)] = "searchQuery">
</search-component>
<div *ngIf="!!courses">
	<course-component
		*ngFor="let course of courses | orderBy : 'date'"
			[courseData] = "course"
			(deleteCourse)="handleDeleteCourse($event)">
	</course-component>
</div>
<paging *ngIf="!addCourseMode"
	[(currentPage)] = "currentPage"
	[totalNumber] = "totalNumber"
	[(currentCourses)] = "courses"
	[searchQuery] = "searchQuery">
</paging>
<div>
	<empty-component [data]="courses"></empty-component>
</div>
